name: Daily Challenge Setup

on:
  schedule:
    # Every day at midnight from Dec 1-12
    - cron: "0 0 1-12 12 *"
  workflow_dispatch:

jobs:
  setup:
    runs-on: ubuntu-latest

    steps:
      - name: Check out a repository
        uses: actions/checkout@v2

      - name: Set up Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest

      - name: Create Challenge Directory and Files
        run: |
          bun cli create

      - name: Commit changes
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add .
          git commit -m ":calendar: Create challenge for $(date +%Y/%d)"

      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
